<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



<% if logged_in? %>
  <%= button_to "sign out", session_url, method: 'DELETE' %>
<% else %>
  <%= button_to "sign in", session_url, method: 'POST'%>
<% end %>

  <%= yield %>

</body>
</html>
